* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: rgb(227, 255, 255); */
  min-height: 100vh;
  /* position: relative; */
}

.landing {
  width: 100%;
  height: 100vh;
  display: flex;
}

.landing .appDesc {
  width: 75%;
  height: 100%;
  background-color: rgb(221, 245, 253);
  padding: 3rem;
}

.appDesc .appTagline {
  width: 100%;
  font-size: 3.5rem;
  font-weight: 600;
  font-family: 'Signika Negative', sans-serif;
  margin-top: 3rem;
}

.landing .loginColumn {
  width: 25%;
  height: 100%;
  background-color: white;
  box-shadow: -0.3rem 0 0.6rem rgb(213, 213, 213);
}

.loginColumn .logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  /* border: 1px solid black; */
  font-family: 'Signika Negative', sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

.logoColumn .logoContainer span {
  color: rgb(82, 82, 82);
}

.loginColumn .loginContainer {
  margin-top: 5rem;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;

}

.loginContainer .loginText {
  font-size: 1rem;
  font-weight: 500;
}

.loginContainer button {
  width: 18rem;
  height: 2.5rem;
  font-family: 'Signika Negative', sans-serif;
  font-size: 1.05rem;
  font-weight: 500;
  /* font-size: 1.1rem; */
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: rgb(179, 220, 253);
}

.home {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  position: relative;
}

.home .sidebar {
  width: max(10rem, 12%);
  /* display: flex; */
  flex-direction: column;
  /* flex-basis: max(10rem, 16%);
  flex-grow: 1;
  flex-shrink: 1; */
  height: 100vh;
  max-height: 100vh;
  background-color: rgb(250, 250, 250);
  position: relative;
  transition: width 0.2s ease-out;
  z-index: 1;
  /* box-shadow: -1rem -1rem 1.6rem 0.6rem rgb(53, 53, 53); */
  /* border: 1px solid red; */
}

.home .sidebar:hover {
  background-color: rgb(245, 245, 245);
}

.home .sidebar.collapsed {
  width: 3.5rem;
  /* flex-basis: 2rem; */

}

.sidebar .collapseBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: #76bf0e;
  position: absolute;
  right: -1rem;
  bottom: 5rem;
  background-color: #e9e9e9;
  z-index: 3;
  cursor: pointer;
  box-shadow: 0 0 0.2rem 0.15rem rgb(135, 187, 133);
}

.sidebar .collapseBtnContainer > * {
  background-color: transparent;
  /* filter: invert(); */
}

.home .logoContainer {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  gap: 0.5rem;
  margin: 1rem 0 2rem 0.5rem;
  /* border: 1px solid black; */
  font-family: 'Signika Negative', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
}

.home .logoContainer img  {
  filter: constrast(100%);
}

.home  .featureContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.home .featureContainer > .feature {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 2.2rem;
  border: none;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: .05rem;
  color: #599800;
  cursor: pointer;
  background-color: transparent;
}

.home .featureContainer > .feature:hover {
  background-color: rgb(229, 253, 207);
  font-weight: 500;
  color: #436b0b;
}

.home .featureContainer > .feature:hover::before {
  content: '';
  width: 0.4rem;
  height: 1.6rem;
  background-color: rgb(0, 199, 133);
}

.home .featureContainer > .feature::before {
  content: '';
  width: 0.4rem;
  height: 0.5rem;
  border-radius: 0.3rem;
  background-color: transparent;
  transition: height 0.3s;
}

.featureContainer .feature > *{
  display: flex;
  align-items: center;
  justify-content: center;
}

.featureContainer .featureText {
  display: inline-block;
  overflow: hidden;
  margin-left: 0.5rem;
  /* opacity: 1; */
  width: max-content;
  transition: width 1s linear;
  transition-delay: 2s;
}

.featureContainer .featureText.hidden {
  /* opacity: 0; */
  width: 0px;
/* display: none; */
}

.home .tagsContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 15rem;
  transform-origin: 0% 0%;
  transform: scaleY(1);
  transition: transform 0.05s ease;
  overflow: auto;
  /* transition: height 0.3s ease; */
  /* visibility: visible; */
  padding: 0.4rem;
  margin: -1rem 5% 0 20%;
  gap: 0.8rem;
  /* border: 0.1rem solid black; */
}

.tagsContainer .tags, .tagsContainer .createATag {
  color: #467900;
  font-weight: 500;
  cursor: pointer;
}

.home .tagsContainer.hidden {
  transform: scaleY(0);
}

.home .modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  backdrop-filter: blur(3px);
}

.home .fileInfoModal, .home .filesoftdeleteconfmodal, .home .confirmationmodal, .home .fileuploadstatusmodal {
  position: fixed;
  width: 40rem;
  left: calc(50% - 20rem);
  top: calc(50% - 15rem);
  border-radius: 0.4rem;
  box-shadow: 0rem 0rem 1rem 0.05rem grey;
  background-color: rgb(28, 111, 0);
  display: flex;
  flex-direction: column;
}
.home .fileInfoModal {
  width: 40rem;
  left: calc(50% - 20rem);
  top: calc(50% - 15rem);
}

.home .filesoftdeleteconfmodal, .home .confirmationmodal, .home .fileuploadstatusmodal {
  width: 20rem;
  left: calc(50% - 10rem);
  top: calc(50% - 8rem);
}

.home .tableManager {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 0.4rem;
  width: calc(100vw - max(10rem, 12%));
  transition: width 0.2s ease-out;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  z-index: 0;
}

.home .tableManager.collapsed {
  width: calc(100vw - 3.5rem);
}

.filterComponent {
  top: 0;
  width: 100%;
  /* border: 1px solid grey; */
  padding: 1rem 0;
}

.paginationComponent {
  display: flex;
  width: 100%;
  height: 3rem;
  /* background-color: #42444d; */
  color: white;
  position: sticky;
  bottom: 0;
  filter: sepia(60%);
}

.paginationComponent .rowsPerPageContainer {
  flex-basis: 20%;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #293531;
  /* border-radius: 0 0 0 1rem; */
}

.paginationComponent .pageController {
  flex-basis: 80%;
  flex-grow: 1;
  flex-shrink: 1;
  /* background-color: #49ffbc; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 2.2rem; */
  gap: 3rem;
  background-color: #293531;
  /* border-radius: 0 0 1rem 0; */
}

.pageController .pages {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.pageController .right {
  display: flex;
  gap: 1rem;
}

.filesTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: calc(100% - 0rem);
}

.filesTable tr {
  height: 1.4rem;
}

.filesTable td, .filesTable th {
  position: sticky;
  top: 0rem;
  border: 1px solid #ddd;
  padding: 8px;
  /* height: 30px; */
}

.filesTable th:first-child {
  border-radius: 1rem 0 0 0;
}

.filesTable th:last-child {
border-radius: 0 1rem 0 0;
}

.filesTable tr:nth-child(odd){background-color: #f8fff8;}

.filesTable tr:nth-child(even){background-color: #e9ffe9;}

.filesTable tr:hover {background-color: #daedda;}

.filesTable th, tfoot td {
  padding-bottom: 12px;
  text-align: center;
  background-color: #4f6f52;
  color: white;
  z-index: 1;
  height: 4rem;
}

tbody td {
  cursor: pointer;
  z-index: 2;
}

.loadingtable {
  width: 100%;
  height: 50.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileInfoModal .modalHeader, .filesoftdeleteconfmodal .modalHeader, .fileuploadstatusmodal .modalHeader, .confirmationmodal .modalHeader {
  height: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  /* background-color: #436b0b; */
  color: white;
}

.filesoftdeleteconfmodal .modalHeader, .fileuploadstatusmodal .modalHeader, .confirmationmodal .modalHeader {
  height: 2rem;
  font-size: 1.1rem;
  background-color: transparent;
}

.filesoftdeleteconfmodal .statusText, .fileuploadstatusmodal .statusText, .confirmationmodal .statusText {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  background-color: rgb(83, 252, 195);
}

.filesoftdeleteconfmodal .statusFooter, .fileuploadstatusmodal .statusFooter, .confirmationmodal .statusFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 2rem;
  padding: 1rem;
  background-color: rgb(83, 252, 195);
}

.fileInfoModal .label {
  font-size: 0.9rem;
  font-weight: 500;
}

.fileInfoModal .modalBody {
  display: flex;
  background-color: darkcyan;
  /* height: 20rem; */
  /* padding: 2rem; */
}

.fileInfoModal .bodyLeft {
  flex-basis: 60%;
  background-color: aquamarine;
  padding: 1rem;
}

.fileInfoModal .bodyLeft > * {
  margin-bottom: 0.3rem;
}

.fileInfoModal .isFileTagContainer {
  /* height: 4rem; */
  /* min-height: 4rem; */
  overflow-y: auto;
}

.fileInfoModal .isFileTagContainer .isFileTag {
  display: inline-block;
}

.fileInfoModal .isNotFileTagContainer .isNotFileTags{
  width: 20rem;
  height: 5rem;
  padding: 0 1rem;
  border-radius: 0.3rem;
  background-color: #a3ffd2;
  overflow-y: auto;
}

.modalBody .bodyRight {
  flex-basis: 40%;
  background-color: rgb(83, 252, 195);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBody .fileImage {
  width: 10rem;
  height: 10rem;
  background-image: url('./assets/file-512.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: aqua; */
  position: relative;
}

.modalBody .fileText {
  position: absolute;
  right: 1.4rem;
  bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  padding: 0.1rem 0.8rem;
  background-color: #333333;
  border-radius: 0.3rem;
}

.fileInfoModal .btnsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  height: 2rem;
}

.fileInfoModal .modalClose, .fileInfoModal .modalSave {
  width: 3rem;
  font-size:small;
  font-weight: 600;
  color: white;
  border: none;
  background-color: transparent;
  cursor: pointer;
  /* height: 2rem; */
}

.fileInfoModal .modalClose {
  background-color: #5b9c00;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
}

.fileInfoModal .modalSave {
  /* background-color: #467900; */
  font-size: 0.95rem;
  height: 1.6rem;
}

.fileInfoModal .modalSave:hover {
  /* background-color: #00b00c; */
  font-size: 0.98rem;
  border-radius: 0.5rem;
}

.typeFilter {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  border-radius: 0.6rem;
  /* padding: 0.4rem 0.6rem; */
  /* gap: 0.4rem; */
  justify-content: flex-start;

}

.typeFilterIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2rem;
}

.filterTextContainer {
  display: flex;
  flex-direction: row;
  padding: 0.1rem 0.8rem;
  gap: 0.4rem;
  background-color: rgb(94, 220, 126);
  border-radius: 0.6rem 0 0 0.6rem;
}

.filterTextContainer.TYPE {
  border-radius: 0.6rem;
  padding-right: 1rem;
  background-color: transparent;
  /* border: 0.1rem solid rgb(145, 181, 116); */
  box-shadow: 0 0 0.25rem 0.02rem rgb(112, 142, 87);
}

.filterTextContainer.TYPE:hover {
  border-radius: 0.6rem;
  padding-right: 1rem;
  /* background-color: rgb(111, 225, 140); */
  /* border: 0.1rem solid rgb(145, 181, 116); */
  box-shadow: 0 0 0.35rem 0.03rem rgb(112, 142, 87);
}

.crossIconContainer {
  padding: 0.4rem 0.8rem;
  background-color: rgb(94, 220, 126);
  border-radius: 0 0.6rem 0.6rem 0;

}

.filterTextContainer:hover, .crossIconContainer:hover {
  background-color: rgb(146, 235, 169);
  cursor: pointer;
}

.filterTextContainer.TYPE:hover {
  background-color: transparent;
}

.typeFilterOptionText {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}


.typeFilterMenu {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 11rem;
  background-color: #ffffff;
  box-shadow: 0 0.2rem 6px 2px rgba(161, 161, 161, 0.718);
  position: absolute;
  top: 3rem;
  left: 0rem;
  z-index: 2;
  padding: 0.5rem 0rem;
  border-radius: 0.3rem;
}

.typeFilterOption {
  display: flex;
  background-color: transparent;
  /* height: 2.6rem; */
  padding: 0 0.4rem;
  gap: 0.4rem;
  cursor: pointer;
  letter-spacing: 0.01rem;
}

.typeFilterOption:hover {
  background-color: #d1ffc4;
  font-weight: 500;
  letter-spacing: normal;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0.5rem;
  gap: 0.4rem;
}

.topFilterContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  gap: 1rem;
}

.bottomFilterContainer {
  display: flex;
  gap: 0.4rem;
  /* border: 1px solid grey; */
  align-items: center;
}

.bottomFilterContainer .clearTagFilter {
  cursor: pointer;
  font-weight: 500;
  /* border: 1px solid grey; */
  text-align: center;
  padding-bottom: 0.1rem;
  color: #5e7bff;
  margin-left: 1rem;
}

.tagFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5e7bff;
  border-radius: 1rem;
  padding: 0.2rem 0.4rem 0.2rem 0.8rem;
  color: white;
  gap: 0.6rem;
  cursor: pointer;
}

.tagNameText {
  display: flex;
  align-items: center;
  justify-content: center;
}
.removeTagCross {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.fileNameSearchFilter {
  display: inline-flex;
  width: 16rem;
  flex-direction: row;
  position: relative;
  border-radius: 0.6rem;
  justify-content: flex-start;
  /* border: 1px solid rgb(163, 163, 163); */
  box-shadow: 0 0 0.25rem 0.02rem rgb(112, 142, 87);
  padding: 0.2rem 0.6rem;
}

.searchIconContainer {
  width: 1.6rem;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
}



.searchTextContainer {
  
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.searchText {
  outline: none;
  border: none;
  padding-left: 0.5rem;
  font-size: 1rem;
}

.tooltip {
  position: relative;
}

.tooltip .toolTipText {
  /* display: none; */
  visibility: hidden;
  position: absolute;
  padding: 0.6rem;
  border: 1px solid grey;
  border-radius: 0.4rem;
  background-color: #2a4900;
  opacity: 1;
  font-weight: 600;
  width: max-content;
  color: white;
  font-size: 0.8rem;
  /* z-index: 8; */
}

.tooltip:hover .toolTipText {
  transition-property: visibility;
  transition-delay: 0.5s;
  visibility: visible;
  /* display: inline; */
}

::-webkit-scrollbar {
  width: 0.4rem;
  
}
::-webkit-scrollbar-track {
  display: none;
  margin-right: 2rem;
}
::-webkit-scrollbar-thumb {
  background-color: #6fba96;
  border-radius: 0.2rem;
}
